@charset "UTF-8";
/* CSS Document */

* { margin: 0; padding: 0; }
body, html { height: 100%; }
ul { list-style-type: none; }
a { text-decoration: none; }

h1, h2, h3, h4, h5, h6, p { color: #5a4d72; }

h1 { font-size: 2em;  	}
h2 { font-size: 1.5em; margin: 60px auto 10px auto; display: table; color: #232323; 	}
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; 	}
h6 { font-size: .75em; 	}
p  { font-size: .75em;
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
    padding: 20px;
}

#animation-wrapper {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
}

lottie-player {
    /* margin: 0 auto;
    display: table; */
    width: 300px;
    height: 300px;
}

button {
    margin: 10px auto;
    display: table;
    padding: 20px 40px;
}
a { color: #232323; }

#button-wrapper {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
}
#button-wrapper > button {
  flex: 1 1 300px;
}